# Node
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

# Build outputs
dist/
build/
coverage/

# Env files
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Docker
docker-compose.override.yml
**/*.pem

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
